@model Podio.API.Examples.MVC3.Models.PodioConnectionInfo
@{
    ViewBag.Title = "AppSamples";
}
<div class="page-header">
    <h1>App samples</h1>
</div>
@{
    var client = Model.GetClient();
    // the ref id is App when we got authenticated as an APP
    var items = client.ItemService.GetItems((int)Model.AuthorizationAccessToken.Ref.Id,100,0);
    /*var items = new Podio.API.Model.Item[] { client.ItemService.GetItem(15326888) };*/
}

@helper FieldValueTree(Dictionary<string, object> values) {
    <ul>
        @foreach(KeyValuePair<string, object> pair in values) {
            <li>
                @pair.Key
                =
                @if(pair.Value is Dictionary<string, object>) {
                    @FieldValueTree((Dictionary<string, object>)pair.Value);
                } else {
                    @pair.Value
                }
            </li>
        }
    </ul>
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <td></td>
            <td>Task count</td>
            <td>External Id</td>
            <td>Fields</td>
            <td>JSON</td>
        </tr>
        
    </thead>
    <tbody>
    @foreach (var item in items.Items) { 
        
        <tr>
            <td>@item.ItemId</td>
            <td>@item.Title

               @if ((item.TaskCount ?? 0) > 0) { 
                <strong>Tasks</strong>    
                    <ul>
                        @foreach (var task in item.Tasks) { 
                        <li>@task</li>
                        }
                    </ul>
                }
                @if ((item.References ?? new List<Podio.API.Model.Reference>()).Count > 0) { 
                   <strong>References</strong>
                    <ul>
                        @foreach (var reference in item.References) { 
                         <li>@reference</li>   
                        }
                    </ul>
                }
            </td>
            <td></td>
            <td>@item.TaskCount</td>
            <td>@item.ExternalId</td>
            <td>
                <ul>
                    @foreach (var field in item.Fields) { 
                        <li>
                            <b>@field.ExternalId (@field.Type)</b>

                            @switch (field.Type) {
                                case "text":
                                    @(item.Field<Podio.API.Utils.ItemFields.TextItemField>(field.ExternalId).Value());
                                   break;
                                default:
                                    foreach (var value in field.Values)
                                    {
                                        @FieldValueTree(value)
                                    }
                                    break;
                            }
                        </li>
                    }
                </ul>
            </td>
            <td>
                <textarea>
               
                </textarea>
            </td>
        </tr>
    }
    </tbody>
</table>

@Html.Partial("AuthInfoSection",Model)
